section.spphuhop-slider
    .container
        .title 
            h2 sản phẩm phù hợp 
        .swiper-container
            .swiper-wrapper
                .swiper-slide
                    .item
                        figure
                            .img
                                img(src="./img/pro-3.png", alt="")
                            figcaption
                                span arwbh
                                h4 Nắp che chống thấm CTOC chữ nhật, ngang
                .swiper-slide
                    .item
                        figure
                            .img
                                img(src="./img/pro-3.png", alt="")
                            figcaption
                                span arwbh
                                h4 Nắp che chống thấm CTOC chữ nhật, ngang
                .swiper-slide
                    .item
                        figure
                            .img
                                img(src="./img/pro-3.png", alt="")
                            figcaption
                                span arwbh
                                h4 Nắp che chống thấm CTOC chữ nhật, ngang
                .swiper-slide
                    .item
                        figure
                            .img
                                img(src="./img/pro-3.png", alt="")
                            figcaption
                                span arwbh
                                h4 Nắp che chống thấm CTOC chữ nhật, ngang
                .swiper-slide
                    .item
                        figure
                            .img
                                img(src="./img/pro-3.png", alt="")
                            figcaption
                                span arwbh
                                h4 Nắp che chống thấm CTOC chữ nhật, ngang
            .swiper-btn-next
                em.mdi.mdi-chevron-right
            .swiper-btn-prev
                em.mdi.mdi-chevron-left