section.nhathau 
    .container 
        .row 
            .col-md-6.box-text
                h2 công trình bạn đang thầu 
                p Tất cả các hệ thống của Gyproc-Vĩnh Tường được sản xuất theo các tiêu chuẩn quốc tế và được thử nghiệm nghiêm ngặt để đảm bảo đáp ứng các yêu cầu trong những điều kiện làm việc khác nhau - từ cách âm đến chống cháy. Chính sách bảo hành "SpecSure® " của chúng tôi sẽ giúp quý khách hàng luôn an tâm khi sử dụng các hệ thống được chúng tôi thử nghiệm và khuyến cáo.
            .col-md-6.img 
                img(src="./img/dv-nt1.png", alt="")
