section.ac-footer(setBackground='./img/footer.png')
    footer
        .container
            .row
                .logo-footer
                    img(src="../img/logo-footer.png", alt="logo footer")
            .row
                .diachi
                    .item
                        h3 văn phòng chính 
                        .add
                            em.mdi.mdi-map-marker
                            p Lầu 6, Tòa nhà Sông Đà - 14B Kỳ Đồng, P.9, Q.3, Tp.Hồ Chí Minh
                        .add
                            em.mdi.mdi-phone
                            p 84 28 62676868 
                        .add
                            em.mdi.mdi-fax
                            p 84 28 62676868 
                    .item
                        h3 Văn phòng Hà Nội
                        .add
                            em.mdi.mdi-map-marker
                            p Lô 2-8B KCN Q.Hoàng Mai, 435A Tam Trinh, P.Hoàng Văn Thụ, Q.Hoàng Mai, Hà Nội 
                        .add
                            em.mdi.mdi-phone
                            p 84 24 36340848 
                        .add
                            em.mdi.mdi-fax
                            p 84 24 36341661
                    .item
                        h3 nhà máy
                        .add
                            em.mdi.mdi-map-marker
                            p Lô 33, KCN Tam Phước, Tp. Biên Hòa, Tỉnh Đồng Nai 
                        .add  
                            em.mdi.mdi-phone
                            p 84 251 3511179 
                        .add
                            em.mdi.mdi-fax
                            p 84 251 3512005
            .footer-bottom
                .row
                    .col-lg-3.col-sm-6.ft-col
                        h3 dự án
                        ul
                            li
                                a(href="") Nhà máy 
                            li
                                a(href="") Căn hộ cao cấp
                            li
                                a(href="") Chuỗi bán lẻ
                            li
                                a(href="") Các dự án trọng điểm
                            li
                                a(href="") Cao ốc văn phòng
                    .col-lg-3.col-sm-6.ft-col
                        h3 sản phẩm
                        ul
                            li
                                a(href="") Nhóm Thiết bị chiếu sáng
                            li
                                a(href="") Nhóm Công tắc ổ cắm
                            li
                                a(href="") Nhóm Ống luồn
                            li
                                a(href="") Nhóm Thiết bị nối dây
                            li
                                a(href="") Nhóm Thiết bị công nghiệp 
                    .col-lg-3.col-sm-6.ft-col
                        h3 liên kết nhanh
                        ul
                            li
                                a(href="") Tài liệu hỗ trợ
                            li
                                a(href="") Giới thiệu
                            li
                                a(href="") Dịch vụ - Giải pháp
                            li
                                a(href="") Tin tức - Sự kiện
                            li
                                a(href="") Liên hệ
                    .col-lg-3.col-sm-6.ft-lienhe
                        h3 đăng ký nhận bản tin
                        p Vui lòng đăng ký để nhânj thông tin mới nhất từ chúng tôi
                        input(type="text" placeholder="nhập email")
                        button Đăng ký
            .copyright
                p Copyright 2019 by AC Electric. All right reserved. Designed by 
                    a(href="https://canhcam.vn") Cánh Cam.    
        a(href="#").contact-button-wrapper
            .ic
                em.mdi.mdi-phone
                            