header 
    .top-head
        .container
            .box-l
                .logo-ac
                    img(src="../img/logo-electric.png", alt="logo acelectric")
            .box-r
                .Module.Module-210
                    ul.hotro
                        li
                            a(href="") câu chuyện ac
                        li
                            a(href="") hỗ trợ
                        li
                            a(href="") liên hệ
                    .searchbox
                        input(type="text" placeholder="search...")
                        button 
                            em.fas.fa-search
                    .call
                        em.fas.fa-phone-volume
                        span 18001739
                    .language
                        .lag-active
                            span VN
                                img(src="./img/down.svg", alt="")
                        .list-lag
                            li 
                                a(href="") vn
                            li
                                a(href="") en
    .ac-home-menu.container
        .menu-wrapper
            .main-menu
                ul
                    li.has-dropdown
                        a(href="javascript:void(0)") ống luồng phụ kiện
                        ul
                            li
                                a(href="") hello
                            li
                                a(href="") hello
                    li.has-dropdown
                        a(href="javascript:void(0)") thiết bị chiếu sáng
                        ul 
                            li
                                a(href="javascript:void(0)") hello
                            li
                                a(href="javascript:void(0)") hello
                    li.has-dropdown
                        a(href="javascript:void(0)") công tắc, ổ cắm 
                        ul
                            li
                                a(href="javascript:void(0)") hello
                            li
                                a(href="javascript:void(0)") hello
                    li.has-dropdown
                        a(href="javascript:void(0)") thiết bị khác
                        ul
                            li
                                a(href="javascript:void(0)") hello
                            li
                                a(href="javascript:void(0)") hello
                    li.has-mega
                        a(href="javascript:void(0)") giải pháp 
                        .mega-wrap
                            .mega-back
                                .item
                                    a(href="")
                                        .img
                                            img(src="./img/product-1.png", alt="")
                                        .title
                                            h4 ống luồng phụ kiện
                                .item
                                    a(href="")
                                        .img
                                            img(src="./img/product-2.png", alt="")
                                        .title
                                            h4 ống luồng phụ kiện
                                .item
                                    a(href="")
                                        .img
                                            img(src="./img/product-3.png", alt="")
                                        .title
                                            h4 ống luồng phụ kiện
                        em.mdi.mdi-chevron-left.back
                    li
                        a(href="javascript:void(0)") dự án 
                    li
                        a(href="javascript:void(0)") tin tức
            .toggle-button
                .button
            .toggle-menu
            .backdrop
        .list-hotro 
            li
                a(href="")
                    em.mdi.mdi-headset
            li
                a(href="")
                    em.mdi.mdi-facebook
            li
                a(href="")
                    em.mdi.mdi-phone-in-talk

        