<?xml version="1.0" encoding="utf-8" ?>
<settings>
  
  <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
  <position>
    <add name="banner-hom" value="1" resourcefile="" />
    <add name="banner trang trong" value="2" resourcefile="" />
    <add name="banner sản phẩm" value="4" resourcefile=""/>
    <add name="banner trang giới thiệu" value="8" resourcefile=""/>
    <add name="banner đối tác" value="16" resourcefile=""/>
    <add name="banner dự án" value="32" resourcefile=""/>
    <add name="home banner " value="64" resourcefile=""/>
  </position>
  
</settings>