section.lienhe-banner(setBackground='./img/lienhe-banner.png')
    .breadcumb
        .container 
            ul
                li 
                    a(href="") Trang chủ 
                li 
                    a(href="") liên hệ
                    