section.du-an
    .banner(setBackground='./img/duan-banner.png')
        .breadcumb 
            .container
                ul 
                    li 
                        a(href="") Trang chủ 
                    li 
                        a(href="") dự án 