section.tintuc
    .container
        .wrap
            .title
                h2 tin tức
            .box-tintuc
                .row
                    .col-md-6
                        .big
                            img(src="./img/tintuc-big.png", alt="")
                            .text
                                date 29/01/2019
                                h3 Bí quyết lựa chọn đèn Led cho công trình, dự án, phóng ốc
                    .col-md-6.small
                        .row
                            .col-md-6
                                .item 
                                    figure
                                        .img 
                                            img(src="./img/tintuc-sm1.png", alt="")
                                        date 29/01/2019 
                                    figcaption 
                                        h4 Trung tâm thương mại Sư Vạn Hạnh tin dùng ống luồn PVC AC
                                        p Trung Tâm Thương Mại Sư Vạn Hạnh, toạ lạc tại vị trí đắc địa ngay trung tâm Quận 10. Với tổng diện tích xây dựng lên đến 90,000 m2, Vạn Hạnh Mall nổi bật với thiết kế đương đại bao gồm 1 tầng hầm 
                            .col-md-6
                                .item 
                                    figure
                                        .img 
                                            img(src="./img/tintuc-sm1.png", alt="")
                                        date 29/01/2019 
                                    figcaption 
                                        h4 Trung tâm thương mại Sư Vạn Hạnh tin dùng ống luồn PVC AC
                                        p Trung Tâm Thương Mại Sư Vạn Hạnh, toạ lạc tại vị trí đắc địa ngay trung tâm Quận 10. Với tổng diện tích xây dựng lên đến 90,000 m2, Vạn Hạnh Mall nổi bật với thiết kế đương đại bao gồm 1 tầng hầm 

            .list-tintuc 
                .row 
                    .col-md-3 
                        .item 
                            figure
                                .img 
                                    img(src="./img/tintuc-sm1.png", alt="")
                                date 29/01/2019 
                            figcaption 
                                h4 Trung tâm thương mại Sư Vạn Hạnh tin dùng ống luồn PVC AC
                    .col-md-3 
                        .item 
                            figure
                                .img 
                                    img(src="./img/tintuc-sm1.png", alt="")
                                date 29/01/2019 
                            figcaption 
                                h4 Trung tâm thương mại Sư Vạn Hạnh tin dùng ống luồn PVC AC
                    .col-md-3 
                        .item 
                            figure
                                .img 
                                    img(src="./img/tintuc-sm1.png", alt="")
                                date 29/01/2019 
                            figcaption 
                                h4 Trung tâm thương mại Sư Vạn Hạnh tin dùng ống luồn PVC AC
                    .col-md-3 
                        .item 
                            figure
                                .img 
                                    img(src="./img/tintuc-sm1.png", alt="")
                                date 29/01/2019 
                            figcaption 
                                h4 Trung tâm thương mại Sư Vạn Hạnh tin dùng ống luồn PVC AC
                    .col-md-3 
                        .item 
                            figure
                                .img 
                                    img(src="./img/tintuc-sm1.png", alt="")
                                date 29/01/2019 
                            figcaption 
                                h4 Trung tâm thương mại Sư Vạn Hạnh tin dùng ống luồn PVC AC
                    .col-md-3 
                        .item 
                            figure
                                .img 
                                    img(src="./img/tintuc-sm1.png", alt="")
                                date 29/01/2019 
                            figcaption 
                                h4 Trung tâm thương mại Sư Vạn Hạnh tin dùng ống luồn PVC AC
                    .col-md-3 
                        .item 
                            figure
                                .img 
                                    img(src="./img/tintuc-sm1.png", alt="")
                                date 29/01/2019 
                            figcaption 
                                h4 Trung tâm thương mại Sư Vạn Hạnh tin dùng ống luồn PVC AC
                    .col-md-3 
                        .item 
                            figure
                                .img 
                                    img(src="./img/tintuc-sm1.png", alt="")
                                date 29/01/2019 
                            figcaption 
                                h4 Trung tâm thương mại Sư Vạn Hạnh tin dùng ống luồn PVC AC
            .pagination
                .item
                    a(href="#") 1
                .item.active
                    a(href="#") 2
                .item
                    a(href="#") 3              