section.congtrinh-dautu(setBackground='./img/banner-dichvu.png')
    .container
        .wrap
            .title
                h2 Công trình bạn muốn đầu tư
            .row
                .col-md-8.ct-thuongmai
                    h3 công trình thương mại
                    .row
                        .col-6.circle
                            .item 
                                .img
                                    img(src="./img/ctdv-icon1.png", alt="")
                            p văn phòng 
                        .col-6.circle
                            .item 
                                .img
                                    img(src="./img/ctdv-icon2.png", alt="")
                            p cửa hàng-showroom
                        .col-6.circle
                            .item 
                                .img
                                    img(src="./img/ctdv-icon3.png", alt="")
                            p nhà xưởng
                        .col-6.circle
                            .item 
                                .img
                                    img(src="./img/ctdv-icon4.png", alt="")
                            p bệnh viện-phòng khám
                        .col-6.circle
                            .item 
                                .img
                                    img(src="./img/ctdv-icon6.png", alt="")
                            p khách sạn-nhà hàng
                        .col-6.circle
                            .item 
                                .img
                                    img(src="./img/ctdv-icon6.png", alt="")
                            p công trình khác
                            
                .col-md-4.ct-dandung
                    h3 công trình thương mại
                    .row.dd
                        .col-12.circle
                            .item 
                                .img
                                    img(src="./img/ctdv-icon7.png", alt="")
                            p nhà phố 
                        .col-12.circle
                            .item 
                                .img
                                    img(src="./img/ctdv-icon8.png", alt="")
                            p căn hộ 
                        .col-12.circle
                            .item 
                                .img
                                    img(src="./img/ctdv-icon9.png", alt="")
                            p biệt thự