section.sanpham
    .container
        .sanpham-wrap
            .title
                h1 sản phẩm  nổi bật
            .navi
                .button
                    a.link.current(href="javasctipt:void(0)" data-tab='tab-1') ống luồng và phụ kiện
                .button
                    a.link(href="javasctipt:void(0)" data-tab='tab-2') công tắc ổ cắm 
                .button
                    a.link(href="javasctipt:void(0)" data-tab='tab-3') thiết bị chiếu sáng
            .tab-content.current#tab-1
                .list-sanpham
                    .item.viral-img
                        .img
                            img(src="./img/sp-poster2.png", alt="")
                    .item 
                        figure
                            a(href="")
                                .img
                                    img(src="./img/pro-3.png", alt="")
                            figcaption
                                span arwbh
                                a(href="")
                                    h4 Nắp che chống thấm CTOC chữ nhật, ngang
                                a(href="") Liên hệ
                    .item 
                        figure
                            a(href="")
                                .img
                                    img(src="./img/pro-3.png", alt="")
                            figcaption
                                span arwbh
                                a(href="")
                                    h4 Nắp che chống thấm CTOC chữ nhật, ngang
                                a(href="") Liên hệ
                    .item 
                        figure
                            a(href="")
                                .img
                                    img(src="./img/pro-3.png", alt="")
                            figcaption
                                span arwbh
                                a(href="")
                                    h4 Nắp che chống thấm CTOC chữ nhật, ngang
                                a(href="") Liên hệ
                    .item 
                        figure
                            a(href="")
                                .img
                                    img(src="./img/pro-3.png", alt="")
                            figcaption
                                span arwbh
                                a(href="")
                                    h4 Nắp che chống thấm CTOC chữ nhật, ngang
                                a(href="") Liên hệ
                    .item 
                        figure
                            a(href="")
                                .img
                                    img(src="./img/pro-3.png", alt="")
                            figcaption
                                span arwbh
                                a(href="")
                                    h4 Nắp che chống thấm CTOC chữ nhật, ngang
                                a(href="") Liên hệ
                    .item 
                        figure
                            a(href="")
                                .img
                                    img(src="./img/pro-3.png", alt="")
                            figcaption
                                span arwbh
                                a(href="")
                                    h4 Nắp che chống thấm CTOC chữ nhật, ngang
                                a(href="") Liên hệ
                    .item 
                        figure
                            a(href="")
                                .img
                                    img(src="./img/pro-3.png", alt="")
                            figcaption
                                span arwbh
                                a(href="")
                                    h4 Nắp che chống thấm CTOC chữ nhật, ngang
                                a(href="") Liên hệ
                    .item 
                        figure
                            a(href="")
                                .img
                                    img(src="./img/pro-3.png", alt="")
                            figcaption
                                span arwbh
                                a(href="")
                                    h4 Nắp che chống thấm CTOC chữ nhật, ngang
                                a(href="") Liên hệ
            .tab-content#tab-2      
                .list-sanpham
                    .item.viral-img
                        .img
                            img(src="./img/sp-poster2.png", alt="")
                    .item 
                        figure
                            a(href="")
                                .img
                                    img(src="./img/pro-3.png", alt="")
                            figcaption
                                span arwbh
                                a(href="")
                                    h4 Nắp che chống thấm CTOC chữ nhật, ngang
                                a(href="") Liên hệ
                    .item 
                        figure
                            a(href="")
                                .img
                                    img(src="./img/pro-3.png", alt="")
                            figcaption
                                span arwbh
                                a(href="")
                                    h4 Nắp che chống thấm CTOC chữ nhật, ngang
                                a(href="") Liên hệ
            .tab-content#tab-3
                .list-sanpham
                    .item.viral-img
                        .img
                            img(src="./img/sp-poster2.png", alt="")
                    .item 
                        figure
                            a(href="")
                                .img
                                    img(src="./img/pro-3.png", alt="")
                            figcaption
                                span arwbh
                                a(href="")
                                    h4 Nắp che chống thấm CTOC chữ nhật, ngang
                                a(href="") Liên hệ
            .viewmore
                a(href="#") Xem thêm
                    em.lnr.lnr-arrow-right
            .banner-sp
                .row
                    .col-6.left
                        img.img-fluid(src="./img/home-banner1.png", alt="")
                    .col-6.right
                        img.img-fluid(src="./img/home-banner2.png", alt="")

