section.duankhac 
    .container
        .title 
            h2 dự án khác
        .row 
            .col-md-3
                .item 
                    figure 
                        img(src="./img/duan-4.png", alt="")
                        figcaption 
                            p movenpick resort waverly phu quoc
            .col-md-3
                .item 
                    figure 
                        img(src="./img/duan-5.png", alt="")
                        figcaption 
                            p Trung tâm thương mại sư vạn hạnh
            .col-md-3
                .item 
                    figure 
                        img(src="./img/duan-6.png", alt="")
                        figcaption 
                            p sài gòn mia
            .col-md-3
                .item 
                    figure 
                        img(src="./img/duan-7.png", alt="")
                        figcaption 
                            p movenpick resort waverly
            