section.tailieu
    .banner(setBackground='./img/tailieu-1.png')
        .breadcumb 
            .container
                ul 
                    li 
                        a(href="") Trang chủ 
                    li 
                        a(href="") tài liệu hỗ trợ