.kinhnghiem
    background: #00a3e6
    padding: 60px 0
    .circle-kinhnghiem
        .circle
            text-align: center
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            .item
                position: relative
                width: 143px
                height: 143px
                border-radius: 50%
                border:  16px solid #0799d9
                border-right: 15px solid #00a3e6
                span
                    position: absolute
                    right: -25%
                    top: 50%
                    transform: translateY(-50%)
                    font-size: 50px
                    font-weight: 600
                    color: #ffff
            p 
                margin-top: 15px
                text-align: center
                color: #ffff
        @media (max-width: 1025px)
            .circle
                flex: 0 0 50%
                max-width: 50%
                margin-bottom: 20px
@media (max-width: 768px)
    .kinhnghiem
        padding: 40px 0

        
        