section.kinhnghiem
    .container
        .circle-kinhnghiem
            .row 
                .col-md-3.circle
                    .item
                        span.number 25
                            span.plus +
                    p Kinh nghiệm tại thị trường Việt Nam
                .col-md-3.circle 
                    .item
                        span.number 500
                            span.plus +
                    p Khách hàng và đối tác
                .col-md-3.circle
                    .item
                        span.number 1000
                            span.plus +
                    p Công trình đẳng cấp tin dùng tại Việt Nam
                .col-md-3.circle
                    .item
                        span.number 200
                            span.plus +
                    p Trung tâm phân phối