section.kinhnghiem
    .container
        .circle-kinhnghiem
            .row 
                .col-md-3.circle
                    .item
                        span 25+
                    p Kinh nghiệm tại thị trường Việt Nam
                .col-md-3.circle 
                    .item
                        span 500+
                    p Khách hàng và đối tác
                .col-md-3.circle
                    .item
                        span 1000+
                    p Công trình đẳng cấp tin dùng tại Việt Nam
                .col-md-3.circle
                    .item
                        span 200+
                    p Trung tâm phân phối