section.kinhnghiem
    .container
        .circle-kinhnghiem
            .row 
                .col-md-3.circle
                    .item
                        h4 25
                            span +
                    p Kinh nghiệm tại thị trường Việt Nam
                .col-md-3.circle 
                    .item
                        h4 500
                            span +
                    p Khách hàng và đối tác
                .col-md-3.circle
                    .item
                        h4 1000
                            span +
                    p Công trình đẳng cấp tin dùng tại Việt Nam
                .col-md-3.circle
                    .item
                        h4 200
                            span +
                    p Trung tâm phân phối