section.tintuc-banner
    .banner(setBackground='./img/tintuc-banner.png')
        .breadcumb
            .container
                ul 
                    li
                        a(href="#") Trang chủ
                    li
                        a(href="#") tin tuc