<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <position>
	<add name="Sản phẩm liên quan - giỏ hàng" value="10" resourcefile="" />
    <add name="Sản phẩm đã xem" value="0" resourcefile="" />
    <add name="Sản phẩm trang chủ - bán chạy" value="1" resourcefile="" />
	<add name="vị trí đặt biệt" value="2" resourcefile="" />
	<add name="Dự án  đặt biệt" value="4" resourcefile="" />
  <add name="slider sản phẩm đặc biệt" value="6" resourcefile="" />
  <add name="home sản phẩm đặc biệt" value="12" resourcefile="" />
  <add name="dịch vụ icon" value="24" resourcefile="" />
  </position>
  
  <showoption name="Mới" value="1" class="promotion op1" />
  <showoption name="Khuyến mãi" value="2" class="promotion op2" />

  <templatelist xsltname="ProductList.xslt" name="Danh sách sản phẩm" />
  <templatelist xsltname="ProductListSale.xslt" name="Danh sách sản phẩm khuyến mãi" />
  <templatelist xsltname="Product-dacbiet.xslt" name="sản phẩm đặc biệt" />
  <templatelist xsltname="Product-dacbiet1.xslt" name="sản phẩm đặc biệt" />
  <templatelist xsltname="Du-An.xslt" name="Danh sách dự án chuyên mục" />
  <templatelist xsltname="Product-duan.xslt" name="sản phẩm" />
  <templatelist xsltname="Dich-Vu-Chuyen-Muc.xslt" name="Dich vu chuyen muc" />
  <templatelist xsltname="Danh-Sach-Du-An.xslt" name="Danh sách dự án" />
  <templatedetail xsltname="ProductDetail.xslt" name="Chi tiết sản phẩm" />
  <templatedetail xsltname="Dich-Vu-San-Pham-DB.xslt" name="Chi tiết sản phẩm đặc biệt" />
  <templatedetail xsltname="Dich-Vu-San-Pham-DB.xslt" name="Chi tiết sản phẩm đặc biệt" />
  <templatedetail xsltname="Du-An-Chi-Tiet.xslt" name="Chi tiết Dự án" />
  <templatelist xsltname="ProductNoibat.xslt" name="sản phẩm nổi bật" />
  <templatelist xsltname="Home-San-Pham.xslt" name="sản phẩm Đặc biệt" />
  <templatelist xsltname="HomeSpDacBiet.xslt" name="home sản phẩm đặc biệt" />
</templates>