section.duan-tb 
    .container 
        .title 
            h2 dự án 
            p dự án tiêu biểu
        .row 
            .col-md-6
                .box-left
                    img(src="./img/du-an1.png", alt="")
                    .box-text
                        h1 vinhome central park
                        p Vinhomes Central Park Lấy cảm hứng từ công viên Central Park, thành phố New York nổi tiếng thế giới. Vinhomes Central Park tổng diện tích lên tới 43,91ha
            .col-md-6.box-right
                .item
                    .img
                        .img 
                            img(src="./img/du-an2.png", alt="")
                    .text-box
                        h4 Nhà máy vinfast Hải Phòng
                        p Hiện nhà máy sản xuất xe buýt điện VinFast đang trong quá trình xây dựng và lắp đặt hệ thống nhà xưởng. Đối tác cung cấp công nghệ và linh kiện để sản xuất xe buýt điện cho VinFast là Siemens (Đức). 
                .item
                    .img
                        .img 
                            img(src="./img/du-an2.png", alt="")
                    .text-box
                        h4 Nhà máy vinfast Hải Phòng
                        p Hiện nhà máy sản xuất xe buýt điện VinFast đang trong quá trình xây dựng và lắp đặt hệ thống nhà xưởng. Đối tác cung cấp công nghệ và linh kiện để sản xuất xe buýt điện cho VinFast là Siemens (Đức). 
                .item
                    .img
                        .img 
                            img(src="./img/du-an2.png", alt="")
                    .text-box
                        h4 Nhà máy vinfast Hải Phòng
                        p Hiện nhà máy sản xuất xe buýt điện VinFast đang trong quá trình xây dựng và lắp đặt hệ thống nhà xưởng. Đối tác cung cấp công nghệ và linh kiện để sản xuất xe buýt điện cho VinFast là Siemens (Đức). 