section.danhmuc-wrap
    .container 
        .danhmuc-top
            .title 
                h2 dự án 
            .danhmuc
                .button
                    a.link#current(href="javascript:void(0)" data-tab='tab-1') nhà máy 
                .button
                    a.link(href="javascript:void(0)" data-tab='tab-2') cao ốc công trình
                .button
                    a.link(href="javascript:void(0)" data-tab='tab-3') căn họ cao cấp
                .button
                    a.link(href="javascript:void(0)" data-tab='tab-4') chuỗi bán lẻ
                .button
                    a.link(href="javascript:void(0)" data-tab='tab-5') Các dự án trọng điểm
    .duan
        .tab-content.current#tab-1
            .row
                .col-md-4 
                    .item 
                        figure
                            img(src="./img/duands1.png", alt="")
                            figcaption 
                                p Khu căn hộ cao cấp
                                h3 vinhome central park
                .col-md-4 
                    .item 
                        figure
                            img(src="./img/duands2.png", alt="")
                            figcaption 
                                p Khu căn hộ cao cấp
                                h3 lux garden
                .col-md-4 
                    .item 
                        figure
                            img(src="./img/duands3.png", alt="")
                            figcaption 
                                p Khu căn hộ cao cấp
                                h3 gài gòn mia
                .col-md-4 
                    .item 
                        figure
                            img(src="./img/duands4.png", alt="")
                            figcaption 
                                p Khu căn hộ cao cấp
                                h3 trung tâm thương mại sư vạn hạnh 
                .col-md-4 
                    .item 
                        figure
                            img(src="./img/duands5.png", alt="")
                            figcaption 
                                p Khu căn hộ cao cấp
                                h3 hội an south deverlopment
                .col-md-4 
                    .item 
                        figure
                            img(src="./img/duands6.png", alt="")
                            figcaption 
                                p Khu căn hộ cao cấp
                                h3 movenpick resort waverly
        .tab-content.current#tab-2
            .row
                .col-md-4 
                    .item 
                        figure
                            img(src="./img/duands1.png", alt="")
                            figcaption 
                                p Khu căn hộ cao cấp
                                h3 vinhome central park
                .col-md-4 
                    .item 
                        figure
                            img(src="./img/duands2.png", alt="")
                            figcaption 
                                p Khu căn hộ cao cấp
                                h3 lux garden
        .tab-content.current#tab-3
            .row
                .col-md-4 
                    .item 
                        figure
                            img(src="./img/duands1.png", alt="")
                            figcaption 
                                p Khu căn hộ cao cấp
                                h3 vinhome central park
                .col-md-4 
                    .item 
                        figure
                            img(src="./img/duands2.png", alt="")
                            figcaption 
                                p Khu căn hộ cao cấp
                                h3 lux garden
        .pagination
                .items
                    a(href="#") 1
                .items.active
                    a(href="#") 2
                .items
                    a(href="#") 3 
            

                
