section.tailieuhotro
    .container 
        .title 
            h2 tài liệu hỗ trợ 
        .content 
            .row.dd
                .col-md-3
                    .item 
                        h4 Hướng dẫn thi công băng viền góc Levelline® Flex
                        .bottom 
                            p 
                                date  
                                em.date.far.fa-clock
                                span 29/01/2019
                            em.fas.fa-cloud-download-alt
                .col-md-3
                    .item 
                        h4 Hướng dẫn thi công băng viền góc Levelline® Flex
                        .bottom 
                            p 
                                date  
                                em.date.far.fa-clock
                                span 29/01/2019
                            em.fas.fa-cloud-download-alt
                .col-md-3
                    .item 
                        h4 Hướng dẫn thi công băng viền góc Levelline® Flex
                        .bottom 
                            p 
                                date  
                                em.date.far.fa-clock
                                span 29/01/2019
                            em.fas.fa-cloud-download-alt
                .col-md-3
                    .item 
                        h4 Hướng dẫn thi công băng viền góc Levelline® Flex
                        .bottom 
                            p 
                                date  
                                em.date.far.fa-clock
                                span 29/01/2019
                            em.fas.fa-cloud-download-alt
                .col-md-3
                    .item 
                        h4 Hướng dẫn thi công băng viền góc Levelline® Flex
                        .bottom 
                            p 
                                date  
                                em.date.far.fa-clock
                                span 29/01/2019
                            em.fas.fa-cloud-download-alt
                .col-md-3
                    .item 
                        h4 Hướng dẫn thi công băng viền góc Levelline® Flex
                        .bottom 
                            p 
                                date  
                                em.date.far.fa-clock
                                span 29/01/2019
                            em.fas.fa-cloud-download-alt
                .col-md-3
                    .item 
                        h4 Hướng dẫn thi công băng viền góc Levelline® Flex
                        .bottom 
                            p 
                                date  
                                em.date.far.fa-clock
                                span 29/01/2019
                            em.fas.fa-cloud-download-alt
                .col-md-3
                    .item 
                        h4 Hướng dẫn thi công băng viền góc Levelline® Flex
                        .bottom 
                            p 
                                date  
                                em.date.far.fa-clock
                                span 29/01/2019
                            em.fas.fa-cloud-download-alt
            .button 
                a(href="#") Liên hệ