section.tuvanthietke
    .container 
        .row 
            .col-md-6.box-text
                h2 công trình bạn đang tư vấn thiết kế
                p Lĩnh vực tư vấn thiết kế được AC phát triển độc lập ngay từ những ngày đầu thành lập Tập đoàn. Với đội ngũ lãnh đạo đều là những kiến trúc sư, kỹ sư kết cấu là giảng viên cao cấp được đào tạo chuyện sâu ở nước ngoài, những công trình AC tham gia tư vấn thiết kế đều thể hiện tính thẩm mỹ và ứng dụng cao.Việc hợp tác, liên danh cùng các công ty nước ngoài tạo cơ hội cho đội ngũ kiến trúc sư AC liên tục được trao đổi, hợp tác đào tạo, cập nhật những xu hướng phát triển hiện đại.
            .col-md-6.img 
                img(src="./img/tv-thietke.png", alt="")
