section.sanpham
    .container
        .sanpham-wrap
            .title
                h1 sản phẩm 
            .box-sanpham 
                .row 
                    .col-lg-3.col-sm-6
                        .item
                            img.img-fluid(src="./img/product-1.png", alt="")
                        .title
                            a(href="#") ống luồng pvc
                    .col-lg-3.col-sm-6
                        .item
                            img.img-fluid(src="./img/product-1.png", alt="")
                        .title
                            a(href="#") ống luồng pvc
                    .col-lg-3.col-sm-6
                        .item
                            img.img-fluid(src="./img/product-1.png", alt="")
                        .title
                            a(href="#") ống luồng pvc
                    .col-lg-3.col-sm-6
                        .item
                            img.img-fluid(src="./img/product-1.png", alt="")
                        .title
                            a(href="#") ống luồng pvc
                    .col-lg-3.col-sm-6
                        .item
                            img.img-fluid(src="./img/product-1.png", alt="")
                        .title
                            a(href="#") ống luồng pvc
                    .col-lg-3.col-sm-6
                        .item
                            img.img-fluid(src="./img/product-1.png", alt="")
                        .title
                            a(href="#") ống luồng pvc
                    .col-lg-3.col-sm-6
                        .item
                            img.img-fluid(src="./img/product-1.png", alt="")
                        .title
                            a(href="#") ống luồng pvc
                    .col-lg-3.col-sm-6
                        .item
                            img.img-fluid(src="./img/product-1.png", alt="")
                        .title
                            a(href="#") ống luồng pvc
                    .col-lg-3.col-sm-6
                        .item
                            img.img-fluid(src="./img/product-1.png", alt="")
                        .title
                            a(href="#") ống luồng pvc
                    .col-lg-3.col-sm-6
                        .item
                            img.img-fluid(src="./img/product-1.png", alt="")
                        .title
                            a(href="#") ống luồng pvc
                    