section.benhvien 
    .container 
        .wrap
            .row
                .col-md-9 
                    .title
                        h2 bệnh viện - phòng khám
                        p Phải ở lại bệnh viện thường là trải nghiệm không dễ chịu và các nhà khoa học đã chứng minh rằng môi trường vật chất tại các cơ sở y tế đóng vai trò quan trọng trong việc điều trị hiệu quả cho người bệnh. Trong một không gian được thiết kế khoa học, các nhân viên y tế có thể đưa ra các quyết định kịp thời và chính xác. Nhờ đó, công tác điều trị cũng sẽ được cải thiện và bệnh nhân sẽ phục hồi nhanh chóng hơn.
                        p Chính vì vậy, việc chăm sóc và bảo vệ bệnh nhân đòi hỏi một môi trường phải hoàn toàn thoải mái và yên tĩnh để người bệnh được tách khỏi môi trường ồn ào từ những cuộc trò chuyện hay từ việc đi lại của khách thăm bệnh, cũng như từ các hoạt động hằng ngày của bệnh viện.

                        p Thấu hiểu những nhu cầu này, Gyproc-Vĩnh Tường đã phát triển những hệ thống trần và tường thạch cao có thể đáp ứng những nhu cầu trên mà vẫn tiết kiệm được thời gian lắp đặt và giảm thiểu chi phí cho toàn dự án.
                        
                    .slider1
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    .item 
                                        img(src="./img/ctdv2-1.png", alt="")
                                .swiper-slide
                                    .item 
                                        img(src="./img/ctdv2-1.png", alt="")
                                .swiper-slide
                                    .item 
                                        img(src="./img/ctdv2-1.png", alt="")
                                .swiper-slide
                                    .item 
                                        img(src="./img/ctdv2-1.png", alt="")
                            .swiper-btn-next
                                em.mdi.mdi-chevron-right
                    .slider2 
                        .title 
                            h2 sản phẩm phù hợp
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    .item
                                        figure
                                            .img
                                                img(src="./img/pro-3.png", alt="")
                                            figcaption
                                                span arwbh
                                                h4 Nắp che chống thấm CTOC chữ nhật, ngang
                                .swiper-slide
                                    .item
                                        figure
                                            .img
                                                img(src="./img/pro-3.png", alt="")
                                            figcaption
                                                span arwbh
                                                h4 Nắp che chống thấm CTOC chữ nhật, ngang
                                .swiper-slide
                                    .item
                                        figure
                                            .img
                                                img(src="./img/pro-3.png", alt="")
                                            figcaption
                                                span arwbh
                                                h4 Nắp che chống thấm CTOC chữ nhật, ngang
                                .swiper-slide
                                    .item
                                        figure
                                            .img
                                                img(src="./img/pro-3.png", alt="")
                                            figcaption
                                                span arwbh
                                                h4 Nắp che chống thấm CTOC chữ nhật, ngang
                                .swiper-slide
                                    .item
                                        figure
                                            .img
                                                img(src="./img/pro-3.png", alt="")
                                            figcaption
                                                span arwbh
                                                h4 Nắp che chống thấm CTOC chữ nhật, ngang

                .col-md-3.right
                    .img 
                        img(src="./img/ctdv2-2.png", alt="")