.benhvien
    padding: 60px 0
    @media (max-width: 768px)
        padding: 40px 0
    .wrap
        .title
            h2 
                font-size: 36px
                text-transform: uppercase
                color: #00a3e6
                font-weight: 600
                @media (max-width: 1025px)
                    font-size: 26px
                
            p 
                font-size: 16px
                color: #333333
                padding-top: 20px
        .slider1
            margin-top: 30px
            .swiper-container
                width: 100%
                height: 100%
                position: relative
                padding: 0
                .swiper-wrapper
                    width: 100%
                    transform: translate3d(0px, 0px, 0px)
                    .swiper-slide
                        width: 75%  
                        .item
                            width: 100%
                            height: 380px
                            img
                                height: 100%
                                width: 100%
                                object-fit: cover
                    .swiper-slide-next
                        position: relative
                        &:after
                            content: ''
                            display: block
                            width: 100%
                            height: 100%
                            position: absolute
                            top: 0
                            left: 0
                            background: #0000008c
                    .swiper-slide:nth-child(2n,3n,4n) 
                        width: 40%
                        .item
                            img
                                width: 100%

                .swiper-btn-next
                    position: absolute
                    z-index: 9
                    right: 0
                    top: 50%
                    transform: translateY(-50%)
                    height: 100%
                    width: 35px
                    background: #3486a9
                    opacity: 0.9
                    justify-content: center
                    display: flex
                    align-items: center
                    color: #ebebeb
                    font-size: 30px
                    outline: none
        .slider2
            .title 
                padding: 30px 0
                font-size: 30px
                text-transform: uppercase
                color: #00a3e6
            .swiper-container
                padding: 10px
                .swiper-wrapper
                    .swiper-slide
                        .item
                            padding: 30px 0 10px
                            margin-bottom: 30px
                            border: 1px solid #ebebeb
                            figure
                                .img
                                    width: auto
                                    height: 250px
                                    img 
                                        width: 100%
                                        height: 100%
                                        object-fit: scale-down
                                figcaption
                                    padding: 20px
                                    span
                                        font-size: 16px
                                        font-weight: 600
                                        color: #999999
                                        text-transform: uppercase
                                    h4
                                        font-size: 16px
                                        color: #333333
                                        font-weight: 600
                                        margin-bottom: 10px
                                    a 
                                        color: #00a3e6
                                        font-size: 16px
                                        font-weight: 600
                            &:hover
                                box-shadow: 0 0 20px #ebebeb
        .right 
            .img 
                width: auto
                height: 665px
                img 
                    width: 100%
                    height: 100%
                    object-fit: fill





                    