section.nangtamchatluong
    .container
        .wrap
            .row
                .col-md-6.left
                    h2 Nâng tầm chất lượng không gian sống
                    p Không chỉ là không gian bình yên quay về sau mỗi ngày làm việc mệt nhọc, nhà còn là nơi mà gia chủ gửi gắm hết tình cảm tâm tư, được thể hiện qua việc lựa chọn thiết kế và vật liệu phù hợp nhu cầu, ngân sách và gu thẩm mỹ. Trong đó, trần và tường thạch cao - vốn quan trọng không kém trong việc góp phần mang lại một không gian sống xanh, tiện nghi và bền vững. Với cẩm nang đặc biệt này trên tay, ACElectric hy vọng gia chủ có thể lựa chọn cho mình gói giải pháp phù hợp nhất cho trần và tường - giúp NÂNG TẦM CHẤT LƯỢNG  KHÔNG GIAN SỐNG
                .col-md-6.right
                    .img 
                        img(src="../img/ctdv-1.png", alt="")



        