section.doitac(setBackground='./img/background-doitac.png')
    .container
        .title
            h1 đối tác - khách hàng
        .slider
            .row
                .col-6.doitac-slider
                    h4 ĐỐI TÁC
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                .item
                                    img(src="./img/doitac-1.png", alt="")
                                
                            .swiper-slide
                                .item
                                    img(src="./img/doitac-2.png", alt="")
                            .swiper-slide
                                .item
                                    img(src="./img/doitac-3.png", alt="")
                            .swiper-slide
                                .item
                                    img(src="./img/doitac-7.png", alt="")
                            .swiper-slide
                                .item
                                    img(src="./img/doitac-8.png", alt="")
                            .swiper-slide
                                .item
                                    img(src="./img/doitac-9.png", alt="")
                            .swiper-slide
                                .item
                                    img(src="./img/doitac-8.png", alt="")
                            .swiper-slide
                                .item
                                    img(src="./img/doitac-9.png", alt="")
                    ///control
                    .swiper-btnnext
                        em.lnr.lnr-arrow-right
                    .swiper-btnprev
                        em.lnr.lnr-arrow-left
                .col-6.khachhang-slider
                    h4 KHÁCH HÀNG
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                .item
                                    img(src="./img/doitac-4.png", alt="")
                                
                            .swiper-slide
                                .item
                                    img(src="./img/doitac-5.png", alt="")
                            .swiper-slide
                                .item
                                    img(src="./img/doitac-6.png", alt="")
                            .swiper-slide
                                .item
                                    img(src="./img/doitac-10.png", alt="")
                            .swiper-slide
                                .item
                                    img(src="./img/doitac-11.png", alt="")
                            .swiper-slide
                                .item
                                    img(src="./img/doitac-12.png", alt="")
                            .swiper-slide
                                .item
                                    img(src="./img/doitac-11.png", alt="")
                            .swiper-slide
                                .item
                                    img(src="./img/doitac-12.png", alt="")
                    ///control
                    .swiper-btn-next
                        em.lnr.lnr-arrow-right
                    .swiper-btn-prev
                        em.lnr.lnr-arrow-left



