<?xml version="1.0" encoding="utf-8" ?>
<settings>

    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
      <add name="Menu top" value="1" resourcefile="" />
      <add name="main-menu" value="2" resourcefile="" />
      <add name="footer1" value="4" resourcefile="" />
      <add name="footer2" value="8" resourcefile="" />
      <add name="footer3" value="16" resourcefile="" />
      <add name="Dichvu" value="32" resourcefile="" />
      <add name="DuanNavigation" value="64" resourcefile="" />
      <add name="DichvuNhathau" value="128" resourcefile="" />
      <add name="BaivietDv" value="256" resourcefile="" />
      <add name="HomeBaiviet" value="512" resourcefile="" />
      <add name="DuanChitiet" value="1024" resourcefile="" />
    </position>

</settings>