.section.gioithieu-banner
    .banner(setBackground='./img/gioithieu_banner.png')
        .breadcumb
            .container
                ul 
                    li
                        a(href="#") Trang chủ
                    li
                        a(href="#") giới thiệu
