.section.biquyet-dautu
    .container 
        .title 
            h2 bí quyết dành cho chủ đầu tư
        .content 
            .row 
                .col-md-3 
                    .item 
                        figure
                            .img 
                                img(src="./img/tintuc-sm1.png", alt="")
                            date 29/01/2019 
                        figcaption 
                            h4 Trung tâm thương mại Sư Vạn Hạnh tin dùng ống luồn PVC AC
                .col-md-3 
                    .item 
                        figure
                            .img 
                                img(src="./img/tintuc-sm1.png", alt="")
                            date 29/01/2019 
                        figcaption 
                            h4 Trung tâm thương mại Sư Vạn Hạnh tin dùng ống luồn PVC AC
                .col-md-3 
                    .item 
                        figure
                            .img 
                                img(src="./img/tintuc-sm1.png", alt="")
                            date 29/01/2019 
                        figcaption 
                            h4 Trung tâm thương mại Sư Vạn Hạnh tin dùng ống luồn PVC AC
                .col-md-3 
                    .item 
                        figure
                            .img 
                                img(src="./img/tintuc-sm1.png", alt="")
                            date 29/01/2019 
                        figcaption 
                            h4 Trung tâm thương mại Sư Vạn Hạnh tin dùng ống luồn PVC AC
                .col-md-3 
                    .item 
                        figure
                            .img 
                                img(src="./img/tintuc-sm1.png", alt="")
                            date 29/01/2019 
                        figcaption 
                            h4 Trung tâm thương mại Sư Vạn Hạnh tin dùng ống luồn PVC AC
                .col-md-3 
                    .item 
                        figure
                            .img 
                                img(src="./img/tintuc-sm1.png", alt="")
                            date 29/01/2019 
                        figcaption 
                            h4 Trung tâm thương mại Sư Vạn Hạnh tin dùng ống luồn PVC AC
                .col-md-3 
                    .item 
                        figure
                            .img 
                                img(src="./img/tintuc-sm1.png", alt="")
                            date 29/01/2019 
                        figcaption 
                            h4 Trung tâm thương mại Sư Vạn Hạnh tin dùng ống luồn PVC AC
                .col-md-3 
                    .item 
                        figure
                            .img 
                                img(src="./img/tintuc-sm1.png", alt="")
                            date 29/01/2019 
                        figcaption 
                            h4 Trung tâm thương mại Sư Vạn Hạnh tin dùng ống luồn PVC AC
            .button-more
                button xem thêm
                    em.lnr.lnr-arrow-right
