section.dichvu 
    .banner(setBackground='./img/banner-dichvu.png')
        .breadcumb
            .container
                ul 
                    li
                        a(href="") Trang chủ
                    li  
                        a(href="") dịch vụ
                    li  
                        a(href="") chủ dầu tư
                    li  
                        a(href="") Bệnh viện-phòng khám