section.tintuc(setBackground='./img/tintuc-background.png')
    .container
        .tintuc-wrap
            .title
                h1 tin tức 
                .viewall
                    p Xem tất cả 
                        em.lnr.lnr-arrow-right
            .container
                .row
                    .col-md-9.box-tintuc
                        .box
                            .box1
                                figure 
                                    a(href="")
                                        img(src="./img/tintuc/tintuc-1.png", alt="")
                                    figcaption
                                        a(href="") 
                                            h4 Trung tâm thương mại Sư Vạn Hạnh tin dùng ống luồn PVC AC
                                        time
                                            em.far.fa-clock
                                            span 29/3/2019
                                        p Trung Tâm Thương Mại Sư Vạn Hạnh, toạ lạc tại vị trí đắc địa ngay trung tâm Quận 10. Với tổng diện tích xây dựng lên đến 90,000 m2, Vạn Hạnh Mall nổi bật với thiết kế đương đại bao gồm 1 tầng hầm và 7 tầng thương mại. Tại đây có tần suất người mua sắm, tham quan và giải trí rất lớn. Do đó, việc lựa chọn những sản phẩm bảo vệ hệ thống điện ..
                        .box
                            .box2
                                .item
                                    a(href="")
                                        img(src="./img/tintuc/tintuc-2.png", alt="")
                                    .text
                                        a(href="")
                                            h5 Ba tiêu chí lựa chọn đèn Led cho văn phòng bạn
                                        time 
                                            em.far.fa-clock
                                            span 29/3/2019
                                .item
                                    img(src="./img/tintuc/tintuc-3.png", alt="")
                                    .text
                                        h5 Lợi ích nổi bật của đèn Led Downlight siêu mỏng
                                        time 
                                            em.far.fa-clock
                                            span 29/3/2019
                                .item
                                    img(src="./img/tintuc/tintuc-4.png", alt="")
                                    .text
                                        h5 Lợi ích nổi bật của đèn Led Downlight siêu mỏng
                                        time 
                                            em.far.fa-clock
                                            span 29/3/2019
                                .item
                                    a(href="")
                                        img(src="./img/tintuc/tintuc-2.png", alt="")
                                    .text
                                        a(href="")
                                            h5 Bí quyết lựa chọn đèn Led cho công trình, dự án
                                        time 
                                            em.far.fa-clock
                                            span 29/3/2019
                                    
                        .list
                    .col-md-3.pages-fb
                        .fb-page(data-href='https://www.facebook.com/ACelectricaccessories/', data-tabs='timeline', data-width='300px', data-height='500px', data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')
                            blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/ACelectricaccessories/')
                                a(href='https://www.facebook.com/ACelectricaccessories/') AC Electric

                
                                

