section.sanpham-rival
    .container
        .box-sanpham 
            .row 
                .col-md-3
                    .banner 
                        img(src="./img/rival-banner.png", alt="rival")
                .col-md-9
                    .title
                        h1 công tắc ổ cắm rival
                    .row 
                        .col-md-4
                            figure
                                .img
                                    img(src="./img/pro-3.png", alt="")
                                figcaption
                                    span arwbh
                                    .title
                                        a(href="") Nắp che chống thấm CTOC chữ nhật, ngang
                                    a(href="") Liên hệ
                        .col-md-4
                            .item 
                                figure
                                    .img
                                        img(src="./img/pro-3.png", alt="")
                                    figcaption
                                        span arwbh
                                        h4 Nắp che chống thấm CTOC chữ nhật, ngang
                                        a(href="") Liên hệ
                        .col-md-4
                            .item 
                                figure
                                    .img
                                        img(src="./img/pro-3.png", alt="")
                                    figcaption
                                        span arwbh
                                        h4 Nắp che chống thấm CTOC chữ nhật, ngang
                                        a(href="") Liên hệ
                        .col-md-4
                            .item 
                                figure
                                    .img
                                        img(src="./img/pro-3.png", alt="")
                                    figcaption
                                        span arwbh
                                        h4 Nắp che chống thấm CTOC chữ nhật, ngang
                                        a(href="") Liên hệ
                                    
            .pagination
                .item
                    a(href="#") 1
                .item.active
                    a(href="#") 2
                .item
                    a(href="#") 3         

                