extends _layout.pug

block var
	- var title = 'chi tiet dich vu2'
	- var bodyClass = 'chitietdichvu2-page'

block main
	include ../components/chitietdichvu2/banner/index
	include ../components/chitietdichvu2/benhvien/index

	
