extends _layout.pug

block var
	- var title = 'tu van thiet ke'
	- var bodyClass = 'tu van thiet ke-page'

block main
	include ../components/dichvuthietke/banner/index
	include ../components/dichvuthietke/index
	include ../components/dichvunhathau/tailieu/index