extends _layout.pug

block var
	- var title = 'dich vu nha thau'
	- var bodyClass = 'dichvunhathau-page'

block main
	include ../components/dichvunhathau/banner/index
	include ../components/dichvunhathau/index
	include ../components/dichvunhathau/tailieu/index