extends _layout.pug

block var
	- var title = 'du an'
	- var bodyClass = 'duan-page'
block main
	include ../components/du-an/banner/index
	include ../components/du-an/duan/index
	include ../components/du-an/thicong/index
	