extends _layout.pug

block var
	- var title = 'du an ct'
	- var bodyClass = 'duanct-page'
block main
	include ../components/duan/banner/index
	include ../components/duan/gioithieu/index
	include ../components/duan/slider/index
	include ../components/duan/duankhac/index
	include ../components/duan/sanphamphuhop/index