extends _layout.pug

block var
	- var title = 'Home'
	- var bodyClass = 'home-page'

block main
	include ../components/home/banner/index
	include ../components/home/giaiphap/index
	include ../components/home/kinhnghiem/index
	include ../components/home/gioithieu/index
	include ../components/home/doitac/index
	include ../components/home/sanpham/index
	include ../components/home/duan/index
	include ../components/home/tintuc/index
	