extends _layout.pug

block var
	- var title = 'tin tuc chi tiet'
	- var bodyClass = 'tintucchitiet-page'

block main
	include ../components/tintuc/banner/index
	include ../components/tintucchitiet/index
	
