section.ac-sanpham
    .banner-sanpham(setBackground='./img/sanpham-banner.png')
        .breadcumb
            .container
                ul 
                    li
                        a(href="#") Trang chủ
                    li
                        a(href="#") Công tắc ổ cắm
                    li
                        a(href="#") Công tắc ổ cắm Rival