section.sanphamphuhop
    .container
        .title 
            h2 sản phẩm phù hợp 
        .box-sp 
            .row
                .col-md-3 
                    .item
                        figure
                            .img
                                img(src="./img/pro-3.png", alt="")
                            figcaption
                                span arwbh
                                h4 Nắp che chống thấm CTOC chữ nhật, ngang
                .col-md-3 
                    .item
                        figure
                            .img
                                img(src="./img/pro-3.png", alt="")
                            figcaption
                                span arwbh
                                h4 Nắp che chống thấm CTOC chữ nhật, ngang
                .col-md-3 
                    .item
                        figure
                            .img
                                img(src="./img/pro-3.png", alt="")
                            figcaption
                                span arwbh
                                h4 Nắp che chống thấm CTOC chữ nhật, ngang
                .col-md-3 
                    .item
                        figure
                            .img
                                img(src="./img/pro-3.png", alt="")
                            figcaption
                                span arwbh
                                h4 Nắp che chống thấm CTOC chữ nhật, ngang
                
            