
section.home-slider
    .swiper-container
        .swiper-wrapper
            .swiper-slide
                .item 
                    img(src="./img/home-slider1.png", alt="")
                    .text-slider
                        p Giải pháp chiếu sáng hiện đại cho mọi công trình
            .swiper-slide
                .item 
                    img(src="./img/home-slider1.png", alt="")
                    .text-slider
                        p Giải pháp chiếu sáng hiện đại cho mọi công trình
            .swiper-slide
                .item 
                    img(src="./img/home-slider1.png", alt="")
                    .text-slider
                        p Giải pháp chiếu sáng hiện đại cho mọi công trình
        .home-swiper-pagination
            
       

        