section.biquyet
    .container
        .wrap
            .title
                h2 Bí quyết dành cho chủ đầu tư
            .box-biquyet
                .row
                    .col-md-3
                        .item
                            figure
                                .img
                                    img(src="./img/biquyet-ct1.png", alt="")
                                date 29/01/2019
                            figcaption
                                p Giải pháp đèn Led – Lựa chọn tối ưu cho công trình hiện đại
                    .col-md-3
                        .item
                            figure
                                .img
                                    img(src="./img/biquyet-ct1.png", alt="")
                                date 29/01/2019
                            figcaption
                                p Giải pháp đèn Led – Lựa chọn tối ưu cho công trình hiện đại
                    .col-md-3
                        .item
                            figure
                                .img
                                    img(src="./img/biquyet-ct1.png", alt="")
                                date 29/01/2019
                            figcaption
                                p Giải pháp đèn Led – Lựa chọn tối ưu cho công trình hiện đại
                    .col-md-3
                        .item
                            figure
                                .img
                                    img(src="./img/biquyet-ct1.png", alt="")
                                date 29/01/2019
                            figcaption
                                p Giải pháp đèn Led – Lựa chọn tối ưu cho công trình hiện đại
                    .col-md-3
                        .item
                            figure
                                .img
                                    img(src="./img/biquyet-ct1.png", alt="")
                                date 29/01/2019
                            figcaption
                                p Giải pháp đèn Led – Lựa chọn tối ưu cho công trình hiện đại
                    .col-md-3
                        .item
                            figure
                                .img
                                    img(src="./img/biquyet-ct1.png", alt="")
                                date 29/01/2019
                            figcaption
                                p Giải pháp đèn Led – Lựa chọn tối ưu cho công trình hiện đại
                    .col-md-3
                        .item
                            figure
                                .img
                                    img(src="./img/biquyet-ct1.png", alt="")
                                date 29/01/2019
                            figcaption
                                p Giải pháp đèn Led – Lựa chọn tối ưu cho công trình hiện đại
                    .col-md-3
                        .item
                            figure
                                .img
                                    img(src="./img/biquyet-ct1.png", alt="")
                                date 29/01/2019
                            figcaption
                                p Giải pháp đèn Led – Lựa chọn tối ưu cho công trình hiện đại
                .button-view
                    a(href="") XEM THÊM 
                        em.lnr.lnr-arrow-right
