.chitiet-sp
    padding-top: 3rem
    .congtac-rival
        border-bottom: 1px solid #ebebeb
        padding-bottom: 60px
        .slider-gallery
            .gallery-top
                width: 100%
                height: 80%
                border: 1px solid #ebebeb
                .swiper-slide
                    height: 460px
                    width: auto
                    img 
                        width: 100%
                        height: 100%
                        object-fit: scale-down
            .gallery-thumbs
                margin-top: 25px
                &:before
                    content: ""
                    display: none
                    position: absolute
                    left: 0
                    top: 0
                    width: 168px
                    height: 103px
                    background: #0000008f
                    z-index: 9
                &:after
                    content: ""
                    display: none
                    position: absolute
                    right: 0
                    top: 0
                    width: 168px
                    height: 103px
                    background: #0000008f
                    z-index: 9
                @media (max-width: 768px)
                    &:before,&:after
                        display: none
                .swiper-wrapper
                    height: 100%
                    .swiper-slide
                        border: 1px solid #ebebeb
                        width: auto
                        height: 105px
                        img 
                            height: 100%
                            width: 100%
                            object-fit: scale-down
                .swiper-btn-prev
                    position: absolute
                    top: 50%
                    transform: translateY(-50%)
                    left: 0
                    z-index: 99
                    em 
                        font-size: 30px
                        color: #ebebeb
                    &:focus
                        outline: none
                .swiper-btn-next
                    position: absolute
                    top: 50%
                    transform: translateY(-50%)
                    right: 0
                    z-index: 99
                    em 
                        font-size: 30px
                        color: #ebebeb
                    &:focus
                        outline: none
        .content
            @media (max-width: 1025px)
                padding: 40px 0
            h2 
                font-size: 30px
                color: #00a3e6
                text-transform: uppercase
                margin-bottom: 20px
                @media (max-width: 1025px)
                    font-size: 26px
                
            .table
                tbody
                    tr
                        padding: 10px 0
                        td 
                            width: 50%
                    .title 
                        display: flex
                        font-weight: bold
                        white-space: nowrap
                        padding: 10px 0
                    tr:nth-child(4)
                        display: flex
                        flex-direction: column
                        td 
                            width: 200%
            .item
                display: flex
                padding: 15px 0
                align-items: center

                .img
                    height: 40px
                    width: auto
                    margin-right: 10px
                    img 
                        width: 100%
                        height: 100%
                        object-fit: fill
                p 
                    text-transform: uppercase
            .btn-lienhe 
                margin-top: 50px
                a 
                    color: #ffff
                    padding: 20px 115px
                    background: #00a3e6
        .social
            display: flex
            margin-top: 40px
            .messenger
                a 
                    padding: .5rem 1.5rem
                    background: #00a3e6
                    color: #ffff
                    border-radius: 3px
                    font-size: 10px
                
                    
            .facebook
                margin-right: 10px
                a 
                    padding: .5rem 1.5rem
                    color: #ffff
                    background: #4a6ea9
                    border-radius: 3px
                    margin-top: 30px
                    font-size: 10px
    .thongtinchitiet
        margin-top: 50px
        .title 
            h2 
                font-size: 30px 
                color: #333333
                text-transform: uppercase
                text-align: center
                @media (max-width: 1025px)
                    font-size: 26px
                
        .box1
            padding: 30px 0
            h4 
                font-size: 20px
                color: #333333
                margin-bottom: 20px
            .img 
                img 
                    width: 100%
        .box2 
            figure 
                .img 
                    img 
                        width: 100%
                figcaption 
                    h4 
                        padding: 15px 0
        .box3 
            .title 
                h2 
                    color: #333333
                    font-size: 20px
                    text-align: left
                    margin: 30px 0 
            .img
                img 
                    width: 100%
        .congtac 
            border-bottom: 1px solid #ebebeb
            padding: 50px 0 
            @media (max-width: 992px)
                padding: 30px 0
            .img 
                img 
                    width: 100%
    .sanphamkhac
        padding: 60px
        @media (max-width: 992px)
            padding: 40px
        .title 
            h2 
                color: #00a3e6
                font-size: 30px
                text-align: center
                padding: 30px 0
                text-transform: uppercase
                @media (max-width: 1025px)
                    font-size: 26px
                
        .item
            box-shadow: 0 0 5px #ebebeb
            figure
                .img 
                    width: auto
                    height: 250px
                    img 
                        width: 100%
                        height: 100%
                        object-fit: scale-down
                        padding: 20px
                figcaption
                    padding: 20px
                    span
                        font-size: 14px
                        font-weight: 600
                        color: #999999
                        text-transform: uppercase
                    .title
                        a
                            font-size: 16px
                            color: #333333
                            font-weight: 600
                            margin-bottom: 10px
                            -webkit-line-clamp: 2
                            height: 60px
                            display: block
                            overflow: hidden
                            text-overflow: ellipsis
                    a 
                        color: #00a3e6
                        font-size: 16px
                        font-weight: 600
                &:hover
                    .title
                        a 
                            color: #00a3e6
                            transition: all .3s ease-in-out
            &:hover
                box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3)
                figure 
                    .img 
                        img 
                            transform: scale(1.09)
        @media (max-width: 1025px)
            .col-lg-3.col-sm-6
                padding-bottom: 30px




            