section.chitiet-sp
    .container
        .congtac-rival
            .row
                .col-md-8
                    .slider-gallery
                        .swiper-container.gallery-top
                            .swiper-wrapper
                                .swiper-slide     
                                    img(src="./img/ctsp-sliderbig.png", alt="")
                                .swiper-slide
                                    img(src="./img/ctsp-sliderbig.png", alt="")
                                .swiper-slide
                                    img(src="./img/ctsp-sliderbig.png", alt="")
                                .swiper-slide
                                    img(src="./img/ctsp-sliderbig.png", alt="")
                        .swiper-container.gallery-thumbs
                            .swiper-wrapper
                                .swiper-slide
                                    img(src="./img/ctsp-sliderbig.png", alt="")
                                .swiper-slide
                                    img(src="./img/ctsp-sliderbig.png", alt="")
                            .swiper-btn-next
                                em.mdi.mdi-chevron-right
                            .swiper-btn-prev
                                em.mdi.mdi-chevron-left
                .col-md-4
                    .content
                        h2 công tắc rival
                        table.table
                            tbody
                                tr 
                                    td.title Mã sản phẩm:
                                    td AR12LM
                                tr 
                                    td.title Loại sản phẩm:
                                    td Công tắc đơn có đèn báo
                                tr 
                                    td.title Kích thước sản phẩm:
                                    td 1 chiều, 16A, 36mm
                                tr.mt
                                    td.title Mô tả: 
                                    td Đặc điểm chung ACông tác AC Fival là tác phẩm của sự kết hợp giữa thiết kế tinh tế và kiểu dáng hiện đại, góp phần tăng thêm sự sang trọng cho nội thất khi sử dụng
                                tr.mt
                                    td.title Phân khúc sử dụng sản phẩm:
                                    td 
                                        .row
                                            .col-6
                                                .item
                                                    img(src="./img/chitiet-icon.png", alt="")
                                                    p văn phòng & căn hộ
                                            .col-6
                                                .item
                                                    img(src="./img/chitiet-icon1.png", alt="")
                                                    p trường học & bệnh viện
                                            .col-6
                                                .item
                                                    img(src="./img/chitiet-icon2.png", alt="")
                                                    p công nghiệp & nhà máy
                        .btn-lienhe
                            a(href="") Liên hệ
                    .social 
                        .facebook 
                            a(href="") 
                                em.fab.fa-facebook-square
                                span facebook
                        .messenger
                            a(href="") 
                                em.fab.fa-facebook-messenger
                                span chia sẻ
    .thongtinchitiet
        .container
            .title
                h2 thông tin chi tiết 
            .box1
                .row
                    .col-md-6
                        h4 CÔNG TẮC RIVAL
                        p Đặc điểm chung Công tác AC Fival là tác phẩm của sự kết hợp giữa thiết kế tinh tế và kiểu dáng hiện đại, góp phần tăng thêm sự sang trọng cho nội thất khi sử dụng. Bề mặt được sản xuất từ nhựa Polyca Itolate, Có khả năng chống cháy và chịu được sự va đập từ mọi hướng. Để được làm bằng nhựa cac cấp trong suốt, chống cháy, mang lại sự sang trọng và an toàn. Tiếp điểm được làm bằng đồng tăng khả năng tiếp xúc tối da, không bị mài mòn, tránh phát sinh tia lửa điện và đỏ đô an toàn cầu. Cơ cấu gập ghềnh võng, giúp tăng độ bền bật tắt của công tốc lên đến 40.000 lần. Vít được làm bằng hợp kim, có độ cứng cao, không bị tuôn răng khi lắp đặt. Thích hợp cho các loại dây điện mềm, cứng, xoắn,..ĐƯỢC sẵn xuất theo tiêu chuấn IEC60669-1

                    .col-md-6
                        .img
                            img(src="./img/ctsp-sliderbig.png", alt="")
            .box2
                .row 
                    .col-md-6
                        figure
                            .img
                                img(src="./img/chitiet-sp1.png", alt="")
                            figcaption
                                h4 Ứng dụng
                                p  Kiểu dáng Thiết kế siêu mỏng, một thiết kế của sự kết hợp hài hòa giữa kiến trúc và nghệ thuật, phù hợp với mọi không gian nội thất. Với thiết kế phím lớn, chịu khả năng tiếp xúc tối ưu, bật tắt nhẹ nhàng, ta cảm giác tiện lợi và an toàn tối đa cho người Sử dụng.  
                    .col-md-6
                        figure
                            .img
                                img(src="./img/chitiet-sp1.png", alt="")
                            figcaption
                                h4 Ứng dụng
                                p  Kiểu dáng Thiết kế siêu mỏng, một thiết kế của sự kết hợp hài hòa giữa kiến trúc và nghệ thuật, phù hợp với mọi không gian nội thất. Với thiết kế phím lớn, chịu khả năng tiếp xúc tối ưu, bật tắt nhẹ nhàng, ta cảm giác tiện lợi và an toàn tối đa cho người Sử dụng.  
            .box3 
                .title 
                    h2 Sơ đồ nguyên lý
                .img 
                    img(src="./img/chitiet-sp3.png", alt="")
            .row.congtac
                .col-6 
                    .img 
                        img(src="./img/chitiet-sp4.png", alt="")
    .sanphamkhac
        .container
            .title 
                h2 Sản phẩm khác
            .row
                .col-md-3
                    .item 
                        figure
                            .img
                                img(src="./img/chitiet-sp5.png", alt="")
                            figcaption
                                span arwbh
                                .title
                                    a(href="") Nắp che chống thấm CTOC chữ nhật, ngang
                                a(href="") Liên hệ
                .col-md-3
                    .item 
                        figure
                            .img
                                img(src="./img/chitiet-sp6.png", alt="")
                            figcaption
                                span arwbh
                                h4 Nắp che chống thấm CTOC chữ nhật, ngang
                                a(href="") Liên hệ
                .col-md-3
                    .item 
                        figure
                            .img
                                img(src="./img/chitiet-sp7.png", alt="")
                            figcaption
                                span arwbh
                                h4 Nắp che chống thấm CTOC chữ nhật, ngang
                                a(href="") Liên hệ
                .col-md-3
                    .item 
                        figure
                            .img
                                img(src="./img/chitiet-sp8.png", alt="")
                            figcaption
                                span arwbh
                                h4 Nắp che chống thấm CTOC chữ nhật, ngang
                                a(href="") Liên hệ
