section.duan-gioithieu
    .container
        .row 
            .col-md-6.box-text
                .title 
                    h2 Vinhomes Central Park
                .content 
                    p Địa điểm: 458 Minh Khai, Hà Nội.
                    p Mô tả công trình: Tiên phong trong việc khai thác các xu thế quy hoạch đô thị và kiến trúc hiện đại ở các nước trên thế giới áp dụng tại Việt Nam như khu vực sinh thái chuẩn Singapore, phong vị bản địa nhà phố kiểu Singapore, công viên Central Park tại thành phố New York. Vingroup là tên tuổi gần đây được nhiều người chú ý trong ngành bất động sản. Vingroup kiến tạo và duy trì những đô thị đúng nghĩa, úng dụng hài hòa các yếu tố cộng đồng trong quy hoạch đô thị hiện đại, tiên phong đem đến dịch vụ tiêu chuẩn 5 sao, với mức giá phù hợp với người Việt Nam. Các đô thị của Vingroup không chỉ giải quyết nhu cầu về chỗ ở, mà còn đem đến sự tiện ích đồng bộ nhằm đáp ứng nhu cầu cho cư dân. Từ câu lạc bộ, khu thể thao ngoài trời, trường học liên cấp Vinschool, bệnh viện tiêu chuẩn quốc tế Vinmec, bể bơi, vườn nướng BBQ ngoài trời và các trung tâm thương mại trong quần thể.
            .col-md-6.img
                img(src="./img/duan-gioithieu.png", alt="")