section.duanslider(setBackground='./img/giaiphapbig.png')
    .swiper-container
        .swiper-wrapper
            .swiper-slide
                .item 
                    img(src="./img/duan-slider1.png", alt="")
            .swiper-slide
                .item 
                    img(src="./img/duan-slider1.png", alt="")
            .swiper-slide
                .item 
                    img(src="./img/duan-slider1.png", alt="")
            .swiper-slide
                .item 
                    img(src="./img/duan-slider1.png", alt="")
        .control
            .swiper-btn-next
                em.mdi.mdi-chevron-right
            .swiper-btn-prev
                em.mdi.mdi-chevron-left
.box-text(setBackground='./img/duan-3.png')
    .container 
        .row 
            .col-md-6
                strong.tt Vinhomes Times City – Park Hill
                p Dự án có tổng diện tích lên tới 43,91ha, mặt tiền trải dài hơn 1km bên bờ sông Sài Gòn. Vinhomes Times City – Park Hill được mệnh danh là “phong cách sống resort trong lòng đô thị” với hơn 70% diện tích dành cho cảnh quan và thiên nhiên, và tiên phong giới thiệu mô hình shophouse – phong vị bản địa nhà phố kiểu Singapore.
            .col-md-6
                strong.tt Vinhomes Central Park
                p Dự án tọa lạc tại vị trí vàng ở khu Tân Cảng, kết nối linh hoạt với các vị trí trung tâm bằng hệ thống giao thông thuận lợi. Vinhomes Central Park có khoảng 10.000 căn hộ tiêu chuẩn, 88 căn biệt thự The Villas. Dự án là một chuẩn mực khác biệt khi được xây dựng theo mô hình thành phố xanh thu nhỏ.

