section.tintuc-ct
    .container
        .row
            .col-md-8
                .content
                    h3 Ống luồn chống cháy AC có mặt ở nhiều công trình hạng sang
                    p Cuối tháng 4/2018, tổ hợp khách sạn, condotel (căn hộ khách sạn) 5 sao quốc tế Wyndham Soleil Danang vừa cất nóc tòa thứ nhất trong tổ hợp 4 tòa nhà cao ốc. Yêu cầu của nhà đầu tư dành cho dự án mang tầm cỡ quốc tế buộc các kiến trúc sư và kỹ sư xây dựng phải phải lựa chọn những sản phẩm chất lượng để xây dựng nên công trình cao cấp này. Trong đó, AC trở thành một trong những đối tác chính thức, cung cấp ống luồn tròn PVC, ống ruột gà chống cháy, khớp nối trơn phi và kẹp đỡ ống phi.
                    .img 
                        img(src="./img/tintuc-ct1.png", alt="")
                    p Đây là một trong hơn 700 dự án trên khắp cả nước sử dụng ống luồn AC, đại diện nhà sản xuất cho biết. Theo đó, tại miền Trung, sản phẩm này còn góp mặt trong nhiều dự án tầm cỡ như khu phức hợp Sheraton Đà Nẵng, Cocobay Đà Nẵng, Panaroma Nha Trang…
                    p Tại TP HCM, ống luồn AC cũng có mặt trong các công trình quy mô như Vista Veder, Everrich, Khách sạn Sheraton, Sài gòn Center, Vinhomes Ba Son, Vinhomes Central Park, Sky Center… hay các dự án Rich Star, An Bình City, Gardenia, Park Hill… ở Hà Nội.

                    p Theo đại diện thương hiệu, ống luồn AC được nhiều chủ đầu tư, nhà thầu lựa chọn bởi sở hữu nhiều ưu điểm.

                    strong Chất lượng tốt

                    p Đại diện thương hiệu cho biết, ông luồn tròn PVC và phụ kiện là sản phẩm không thể thiếu để luồn dây điện lắp nổi, đi ngầm bên trong bê tông hoặc chôn dưới đất. Ống luồn tròn hiệu AC có các loại H series, M series, và L series được làm từ nhựa cao cấp, có thể chịu được lực nén cao, không bị nén vỡ; chịu được va đập mạnh; chống cháy, chống ăn mòn, chống gặm mòn và cách điện tốt.

                    strong Khả năng chống cháy vượt trội

                    p Bên cạnh đó, đặc tính chống cháy vượt trội của ống luồn giúp thương hiệu AC được chủ dự án lựa chọn. Sản phẩm không bốc cháy thành ngọn lửa khi đốt trực tiếp, ngọn lửa cũng tự dập tắt trong thời gian dưới 30 giây, tránh lây lan sang các bộ phận khác.

                    p AC còn có sản phẩm ống luồn đàn hồi chống cháy, dùng để luồn dây diện khi lắp đặt hệ thống điện âm tường và lắp nổi; phù hợp với việc lắp chìm khi trộn bê tông ở những nơi bị gấp khúc, uốn lượn; thích hợp để lắp dây diện trong những dầm thép trước khi đổ bê tông và phù hợp để luồn dây diện cung cấp cho các máy móc có độ rung, phải di chuyển nhiều trong nhà xưởng. Đây là sản phẩm có khả năng tự chống cháy, chịu va đập và dễ dàng uốn cong; chống gặm mòn, ăn mòn và cách điện an toàn.
                    .img 
                        img(src="./img/tintuc-ct2.png", alt="")
                    p "Ống luồn AC đạt chất lượng ổn định, cùng với thiết kế đa dạng đã trở thành lựa chọn hàng đầu của các kỹ sư xây dựng bởi đây là nhãn hiệu thiết bị điện cao cấp và lâu đời xuất xứ từ Anh. Tất cả các sản phẩm của AC được sản xuất trên dây chuyền công nghệ hiện đại, tuân thủ các tiêu chuẩn nghiêm ngặt của ngành điện châu Âu", đại diện thương hiệu cho biết.

                    p Hiện nay, AC được Tập đoàn KTG toàn quyền sử dụng, dưới sự nhượng quyền của AC Electrical Accessories International Pte., Ltd., Singapore.
            .col-md-4
                .sidebox
                    .title 
                        h2 tin tức khác
                    .item
                        .img 
                            img(src="./img/tintuc-ct3.png", alt="")
                        .caption
                            p Ba tiêu chí lựa chọn đèn Led cho văn phòng bạn
                            date  
                                em.far.fa-clock
                                span 29/01/2019
                    .item
                        .img 
                            img(src="./img/tintuc-ct3.png", alt="")
                        .caption
                            p Ba tiêu chí lựa chọn đèn Led cho văn phòng bạn
                            date  
                                em.far.fa-clock
                                span 29/01/2019
                    .item
                        .img 
                            img(src="./img/tintuc-ct3.png", alt="")
                        .caption
                            p Ba tiêu chí lựa chọn đèn Led cho văn phòng bạn
                            date  
                                em.far.fa-clock
                                span 29/01/2019
        .social-icon
            a.fb(href="")
                em.fab.fa-facebook-square
                span Like     
            .pop 
            a.tweet(href="")
                em.fab.fa-twitter
                span Tweet
            a.li(href="")
                em.fab.fa-linkedin
                span Share

