section.home-duan-slider
    .container
        .title
            h1 Dự án
        .swiper-container
            .swiper-wrapper
                .swiper-slide
                    .img
                        img(src="./img/home-banner3.png", alt="")
                        .box-content
                            p khu căn hộ cao cấp
                            h1 vinhome central park
                .swiper-slide
                    .img
                        img(src="./img/home-banner3.png", alt="")
                        .box-content
                            p khu căn hộ cao cấp
                            h1 vinhome central park
            .swiper-btn-next
                em.mdi.mdi-chevron-right
            .swiper-btn-prev
                em.mdi.mdi-chevron-left
            