section.duan-tc(setBackground="./img/duan-3.png")
    .container 
        .danhmuc-top
            .title 
                h2 dự án đã thi công
            .danhmuc
                .button
                    a.link#current(href="javascript:void(0)" data-tab='tab-1') nhà máy 
                .button
                    a.link(href="javascript:void(0)" data-tab='tab-2') cao ốc công trình
                .button
                    a.link(href="javascript:void(0)" data-tab='tab-3') căn họ cao cấp
                .button
                    a.link(href="javascript:void(0)" data-tab='tab-4') chuỗi bán lẻ
                .button
                    a.link(href="javascript:void(0)" data-tab='tab-5') Các dự án trọng điểm
        .tab-content.current#tab-1
            .row 
                .col-md-3
                    .item 
                        figure 
                            img(src="./img/duan-4.png", alt="")
                            figcaption 
                                p movenpick resort waverly phu quoc
                .col-md-3
                    .item 
                        figure 
                            img(src="./img/duan-5.png", alt="")
                            figcaption 
                                p Trung tâm thương mại sư vạn hạnh
                .col-md-3
                    .item 
                        figure 
                            img(src="./img/duan-6.png", alt="")
                            figcaption 
                                p sài gòn mia
                .col-md-3
                    .item 
                        figure 
                            img(src="./img/duan-7.png", alt="")
                            figcaption 
                                p movenpick resort waverly
            .button-more
                a(href="") xem thêm
                    em.lnr.lnr-arrow-right
        .tab-content#tab-1
            .row 
                .col-md-3
                    .item 
                        figure 
                            img(src="./img/duan-4.png", alt="")
                            figcaption 
                                p movenpick resort waverly phu quoc
                .col-md-3
                    .item 
                        figure 
                            img(src="./img/duan-5.png", alt="")
                            figcaption 
                                p Trung tâm thương mại sư vạn hạnh
            .button-more
                a(href="") xem thêm
                    em.lnr.lnr-arrow-right
        .tab-content#tab-2
            .row 
                .col-md-3
                    .item 
                        figure 
                            img(src="./img/duan-4.png", alt="")
                            figcaption 
                                p movenpick resort waverly phu quoc
                .col-md-3
                    .item 
                        figure 
                            img(src="./img/duan-5.png", alt="")
                            figcaption 
                                p Trung tâm thương mại sư vạn hạnh
            .button-more
                a(href="") xem thêm
                    em.lnr.lnr-arrow-right
                