.duan-tc
    padding: 60px 0
    .danhmuc-top
    .title
        text-align: center
        h2 
            font-size: 36px
            color: #333333
            text-transform: uppercase
    .danhmuc 
        display: flex
        padding: 20px 0
        flex-wrap: wrap
        justify-content: center
        .button
            display: flex 
            text-align: center 
            align-items: center
            margin: 10px
            width: 200px
            height: 40px
            justify-content: center
            border: 1px solid #00a3e6
            transition: all 0.3s ease-in-out
            a 
                text-transform: uppercase
                color: #00a3e6
                padding: 20px 0
            &:hover
                background: #00a3e6
                a 
                    color: #ebebeb

    .tab-content
        display: none
        .item
            figure 
                img 
                    width: 100%
                figcaption 
                    padding: 15px 0
                    p 
                        font-size: 18px
                        color: #333333
                        text-transform: uppercase
                        font-weight: 600
        &.current
            display: inherit
        .button-more
            text-align: center
            padding-top: 20px
            a
                padding: 15px 60px
                text-align: center
                background: #f7d309
                text-transform: uppercase
                border: none
                color: #333333
                em 
                    margin-left: 10px
                &:hover
                    color: lighten(black,33%)
                

    