.hotro
    padding: 60px 0
    .title 
        margin-bottom: 60px
        h2 
            font-size: 36px 
            text-align: center
            color: #00a3e6 
            text-transform: uppercase
            font-weight: 600
            @media (max-width: 1025px)
                font-size: 26px
            
    .form
        background: #f5f5f5
        padding: 25px
        width: 100%
        height: 450px
        h2 
            font-size: 24px 
            text-transform: uppercase
            color: #00a3e6
            text-align: center
            font-weight: 400
        .form-group
            input[type="text"]
                width: 100%
                border: 1px solid #e1e1e1
                background: #ffffff
                padding: 5px 15px
                outline: none
                margin-bottom: 15px
                &:focus
                    border: 1px solid #00a3e6
            textarea 
                width: 100%
                border: 1px solid #e1e1e1
                padding: 5px 15px
                background: #ffffff
                outline: none
                margin-bottom: 15px
                &:focus
                    border: 1px solid #00a3e6
            input[type="submit"]
                width: 100% 
                border: none
                padding: 5px 15px
                outline: none
                background: #00a3e6
                color: #ffff
                border: 1px solid #e1e1e1
            .fa.fa-exclamation-triangle
                color: red
            .frm-btn
                width: 100%
            label 
                font-weight: 600
    .box-hotro
        .item
            border: 1px solid #ebebeb
            margin-bottom: 15px
            .accordion
                display: flex
                align-items: center
                width: 100%
                height: 45px 
                .button
                    position: relative
                    width: 45px 
                    background: #00a3e6
                    height: 45px
                    margin-right: 20px
                    &:after
                        font: normal normal normal 24px/1 Material Design Icons
                        content: '\f419'
                        font-size: 20px
                        color: #ffffff
                        position: absolute
                        top: 50%
                        left: 13px
                        transform: translateY(-50%)
                h4 
                    max-width: 80%
            .accordion-content
                background-color: white
                transition: all 0.3s ease-in-out
                display: none
                p 
                    margin-left: 65px
                    padding: 15px 0
                    padding-right: 15px
            &.active 
                border: 1px solid #00a3e6
                .accordion
                    .button
                        background: none
                        position: relative
                        &:after
                            font: normal normal normal 20px/1 Material Design Icons
                            content: '\f377'
                            font-size: 20px
                            color: #00a3e6
                            position: absolute
                            top: 50%
                            left: 13px
                            transform: translateY(-50%)
                .accordion-content
                    display: block
                    transform: all 0.3s ease-in-out
                    overflow: none
@media (max-width: 1025px)
    .hotro
        .form 
            flex: 0 0 100%
            max-width: 100%
        .box-hotro 
            flex: 0 0 100%
            max-width: 100% 
            padding: 30px 0 
            margin-top: 1rem
@media (max-width: 768px)
    .hotro
        padding: 40px 0
        .box-hotro
            padding: 0 25px