section.hotro 
    .title 
        h2 hỗ trợ
    .container 
        .row 
            .col-md-4.form 
                h2 gửi câu hỏi 
                .form-group
                    form(action="")
                        label(for="") Họ & tên 
                        input(type="text")
                        label(for="") Email
                        input(type="text")
                        label(for="") Nội dung 
                        textarea(name="", cols="30", rows="2")
                        input(type="submit", value="Gửi")
            .col-md-8.box-hotro
                .item
                    .accordion
                        .button
                            .icon
                                em.mdi.mdi-minus
                        h4 Tại sao nên sử dụng bóng đèn led AC?
                    .accordion-content
                        p Mang lại ánh sáng siêu hoàn hảo, phát ánh sáng liên tục, không nhấp nháy, không gây hại cho thị lực. Chất lượng ánh sáng tốt, hài hòa, tạo cảm giác thư thái cho người dùng. Tiết kiệm điện năng hiệu quả. Tạo cho không gian chiếu sáng vẻ đẹp tinh tế và hoàn hảo hơn. An toàn, thân thiện với con người và môi trường thiên nhiên.
                .item
                    .accordion
                        .button
                            .icon
                                em.lnr.lnr-plus-circle
                        h4 Tại sao nên sử dụng bóng đèn led AC?
                    .accordion-content
                        p Mang lại ánh sáng siêu hoàn hảo, phát ánh sáng liên tục, không nhấp nháy, không gây hại cho thị lực. Chất lượng ánh sáng tốt, hài hòa, tạo cảm giác thư thái cho người dùng. Tiết kiệm điện năng hiệu quả. Tạo cho không gian chiếu sáng vẻ đẹp tinh tế và hoàn hảo hơn. An toàn, thân thiện với con người và môi trường thiên nhiên.
                .item
                    .accordion
                        .button
                            .icon
                                em.lnr.lnr-plus-circle
                        h4 Tại sao nên sử dụng bóng đèn led AC?
                    .accordion-content
                        p Mang lại ánh sáng siêu hoàn hảo, phát ánh sáng liên tục, không nhấp nháy, không gây hại cho thị lực. Chất lượng ánh sáng tốt, hài hòa, tạo cảm giác thư thái cho người dùng. Tiết kiệm điện năng hiệu quả. Tạo cho không gian chiếu sáng vẻ đẹp tinh tế và hoàn hảo hơn. An toàn, thân thiện với con người và môi trường thiên nhiên.
                .item
                    .accordion
                        .button
                            .icon
                                em.lnr.lnr-plus-circle
                        h4 Tại sao nên sử dụng bóng đèn led AC?
                    .accordion-content
                        p Mang lại ánh sáng siêu hoàn hảo, phát ánh sáng liên tục, không nhấp nháy, không gây hại cho thị lực. Chất lượng ánh sáng tốt, hài hòa, tạo cảm giác thư thái cho người dùng. Tiết kiệm điện năng hiệu quả. Tạo cho không gian chiếu sáng vẻ đẹp tinh tế và hoàn hảo hơn. An toàn, thân thiện với con người và môi trường thiên nhiên.
                .item
                    .accordion
                        .button
                            .icon
                                em.lnr.lnr-plus-circle
                        h4 Tại sao nên sử dụng bóng đèn led AC?
                    .accordion-content
                        p Mang lại ánh sáng siêu hoàn hảo, phát ánh sáng liên tục, không nhấp nháy, không gây hại cho thị lực. Chất lượng ánh sáng tốt, hài hòa, tạo cảm giác thư thái cho người dùng. Tiết kiệm điện năng hiệu quả. Tạo cho không gian chiếu sáng vẻ đẹp tinh tế và hoàn hảo hơn. An toàn, thân thiện với con người và môi trường thiên nhiên.
                .item
                    .accordion
                        .button
                            .icon
                                em.lnr.lnr-plus-circle
                        h4 Tại sao nên sử dụng bóng đèn led AC?
                    .accordion-content
                        p Mang lại ánh sáng siêu hoàn hảo, phát ánh sáng liên tục, không nhấp nháy, không gây hại cho thị lực. Chất lượng ánh sáng tốt, hài hòa, tạo cảm giác thư thái cho người dùng. Tiết kiệm điện năng hiệu quả. Tạo cho không gian chiếu sáng vẻ đẹp tinh tế và hoàn hảo hơn. An toàn, thân thiện với con người và môi trường thiên nhiên.
                .item
                    .accordion
                        .button
                            .icon
                                em.lnr.lnr-plus-circle
                        h4 Tại sao nên sử dụng bóng đèn led AC?
                    .accordion-content
                        p Mang lại ánh sáng siêu hoàn hảo, phát ánh sáng liên tục, không nhấp nháy, không gây hại cho thị lực. Chất lượng ánh sáng tốt, hài hòa, tạo cảm giác thư thái cho người dùng. Tiết kiệm điện năng hiệu quả. Tạo cho không gian chiếu sáng vẻ đẹp tinh tế và hoàn hảo hơn. An toàn, thân thiện với con người và môi trường thiên nhiên.
                .item
                    .accordion
                        .button
                            .icon
                                em.lnr.lnr-plus-circle
                        h4 Tại sao nên sử dụng bóng đèn led AC?
                    .accordion-content
                        p Mang lại ánh sáng siêu hoàn hảo, phát ánh sáng liên tục, không nhấp nháy, không gây hại cho thị lực. Chất lượng ánh sáng tốt, hài hòa, tạo cảm giác thư thái cho người dùng. Tiết kiệm điện năng hiệu quả. Tạo cho không gian chiếu sáng vẻ đẹp tinh tế và hoàn hảo hơn. An toàn, thân thiện với con người và môi trường thiên nhiên.
                .item
                    .accordion
                        .button
                            .icon
                                em.lnr.lnr-plus-circle
                        h4 Tại sao nên sử dụng bóng đèn led AC?
                    .accordion-content
                        p Mang lại ánh sáng siêu hoàn hảo, phát ánh sáng liên tục, không nhấp nháy, không gây hại cho thị lực. Chất lượng ánh sáng tốt, hài hòa, tạo cảm giác thư thái cho người dùng. Tiết kiệm điện năng hiệu quả. Tạo cho không gian chiếu sáng vẻ đẹp tinh tế và hoàn hảo hơn. An toàn, thân thiện với con người và môi trường thiên nhiên.
                
