section.breadcrumb
    .banner(setBackground='./img/banner-dichvu.png')
        .breadcumbc
            .container
                ul 
                    li
                        a(href="") Trang chủ
                    li  
                        a(href="") dịch vụ
section.giaiphap
    .giaiphap-title
        h1 Giải pháp chiếu sáng
    .box-content
        .container
            .row.wrapper
                .col-lg-4.col-sm-12
                    .item
                        figure
                            img.img-fluid(src="./img/giaiphap1.png", alt="")
                            figcaption
                                .title
                                    h5 Bạn là chủ thầu
                                .icon
                                    img(src="../img/giaiphap-icon1.png", alt="")
                                p Giải pháp thiết bị điện của AC sẽ giúp đội ngũ thi công lắp đặt dễ dàng và nhanh chóng, sản phẩm đa dạng và thích hợp cho mọi loại công trình.
                                a(href="") xem thêm
                                    em.lnr.lnr-arrow-right

                .col-lg-4.col-sm-12
                    .item
                        figure
                            img.img-fluid(src="./img/giaiphap2.png", alt="")
                            figcaption
                                .title
                                    h5 Bạn là chủ đầu tư
                                .icon
                                    img(src="../img/giaiphap-icon2.png", alt="")
                                p Giải pháp thiết bị chiếu sáng hoàn hảo cho mọi công trình, đảm bảo chất lượng, tuổi thọ sản phẩm cũng như tiết kiệm năng lượng với chi phí ổn định
                                a(href="") xem thêm
                                    em.lnr.lnr-arrow-right
                .col-lg-4.col-sm-12
                    .item
                        figure
                            img.img-fluid(src="./img/giaiphap3.png", alt="")
                            figcaption
                                .title
                                    h5 Bạn là tư vấn thiết kế
                                .icon
                                    img(src="../img/giaiphap-icon3.png", alt="")
                                p Tư vấn thiết kế hệ thống chiếu sáng chuyên nghiệp với giải pháp thiết bị điện AC, đáp ứng mọi yêu cầu về công năng sử dụng.
                                a(href="") xem thêm
                                    em.lnr.lnr-arrow-right