section.gioithieu
    .container
        .row
            .col-lg-5.col-sm-12.box-left
                h1 AC ELECTRIC
                h4 Niềm tin của mọi công trình
                p Tiền thâan là thương hiệu thiết bị điện cao cấp có xuất xứ từ Vương Quốc Anh. Hiện nay, AC đã chính thức thuộc quyền sở hữu của Tập đoàn KTG và liên tục có những bước đột phá mới trong chất lượng, kiểu dáng sáng tạo cho tất cả các sản phẩm. Thiết kế vượt trội, chất lượng ổn định, mỗi công trình là thước đo thành công của thiết bị điện AC. Với dây chuyền sản xuất hiện đại, được kiểm tra nghiêm ngặt theo tiêu chuẩn quốc tế, AC luôn đáp ứng được những nhu cầu khắt khe nhất tại những công trình xây dựng cao cấp và sang trọng của Việt Nam.
                a.btn(href="") xem thêm
                    em.lnr.lnr-arrow-right
            .col-lg-7.col-sm-12.box-right
                img.img-fluid(src="./img/gioithieu-1.png", alt="")

