section.hotro-banner
    .banner(setBackground='./img/hotro-banner.png')
        .breadcumb
            .container
                ul 
                    li
                        a(href="#") Trang chủ
                    li
                        a(href="#") hỗ trợ